.services {
    padding-left:5%;
    padding-top: 5%;
    padding-bottom:5%;
    background-color:#7BA74F;
}

.mocca-btn {
    background-color: #ce9f08;
    border-width: 1px;
    border-color: #fff;
    color: #fff;
    margin: 1rem;
}

.mocca-btn :hover {
    background-color: #7BA74F;
    border-width: 1px;
    border-color: #fff;
    color: #fff;
    margin: 1rem;
}

.wsp {
    margin-right: 1.5rem;
}