<section id="about">
  <div class="services">
    <div class="container">
        <h3>Proud to Serve the Community</h3>
        <h4>Welcome to our pharmacy</h4>
        <div>
          <p>
            We Feel <strong>confident</strong> that we can provide you with a <strong>great deal of variety</strong>, as well as <strong>helpful customer service</strong>. We always welcome new clients that are looking for <strong>quality products</strong> at a <strong>fair price</strong>, and appreciate the finer aspects of our niche.
          </p>
          <ul>
            <li>Your pharmacist will become a member of your health care team.</li>
            <li>You'll receive the personal attention you deserve.</li>
            <li>Take advantage of health care screenings and wellness programs.</li>
          </ul>
          
        </div>
        <div class="action-button">
          <a routerLink="/contact" routerLinkActive="active" class="btn btn-dark wsp my-2 my-sm-0">enquire medication</a>
          <a routerLink="/contact" routerLinkActive="active" class="btn btn-dark wsp my-2 my-sm-0">contact us</a>
          <a href="#" class="btn btn-dark wsp my-2 my-sm-0">my medication</a>
          

        </div> 
    </div>
    
  </div>
</section>