<app-nav></app-nav>
<section class="pt-7 pb-12 grey-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
              <!-- Heading -->
              <h3 class="mb-10">Contact Us</h3>
  
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-12 col-md-8">
  
              <!-- Form -->
              <form>
  
                <!-- Email -->
                <div class="form-group">
                  <label class="sr-only" for="contactName">
                    Your Name *
                  </label>
                  <input class="form-control form-control-sm" id="contactName" type="text" placeholder="Your Name *" required>
                </div>
  
                <!-- Email -->
                <div class="form-group">
                  <label class="sr-only" for="contactEmail">
                    Your Email *
                  </label>
                  <input class="form-control form-control-sm" id="contactEmail" type="email" placeholder="Your Email *" required>
                </div>
  
                <!-- Email -->
                <div class="form-group">
                  <label class="sr-only" for="contactTitle">
                    Title *
                  </label>
                  <input class="form-control form-control-sm" id="contactTitle" type="text" placeholder="Title *" required>
                </div>
  
                <!-- Email -->
                <div class="form-group mb-7">
                  <label class="sr-only" for="contactMessage">
                    Message *
                  </label>
                  <textarea class="form-control form-control-sm" id="contactMessage" rows="5" placeholder="Message *" required></textarea>
                </div>
  
                <!-- Button -->
                <button class="btn btn-dark">
                  Send Message
                </button>
  
              </form>
  
            </div>
          </div>
        </div>
</section>
<app-footer></app-footer>