<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/logo2.png" height="52px">
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="mocca-link nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mocca-link" href="#about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pharmacy" routerLinkActive="active">pharmacy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact us</a>
      </li>
      
    </ul>
    <a class="nav-link" routerLink="/login" routerLinkActive="active">  
      <i class="fe fe-user">
        <span class='badge badge-warning' id='lblCartCount'> </span>
      </i>

    </a>
    <a class="nav-link" routerLink="/cart" routerLinkActive="active">  
      <i class="fe fe-shopping-cart">
        <span class='badge badge-warning' id='lblCartCount'> {{cartItems}} </span>
      </i>

    </a>

    <form (ngSubmit)="search()" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" [(ngModel)]="q.search" name='search' type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>