<section class="container">
  <div class="featured">
    <h3>Featured</h3>
    <div class="products">
        <div class="card-deck">
          <div *ngFor="let item of featuredProducts" class="card add-border">
            <img src="{{item.product_pic}}" (click)="goto(item.id,item.name)" class="card-img-top" alt="...">
            <div class="card-body" (click)="goto(item.id,item.name)">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text"><small>{{item.discription}}</small></p>
              <p class="card-text text-right price">R{{item.price}}</p>
            </div>
          </div>
            
          </div>
       <div class="show-more mt">
         <a href="#">show more</a>
       </div>
    </div>
    
  </div>

</section>
