<app-nav></app-nav>
  <!-- WELCOME -->
  <section>
    <div class="banner">
      <div class="main-banner">
          <h1>From Pharmacy to Door</h1>
          <p>Best Pharmacy. <strong>Search</strong>  and <strong>buy</strong>  your <strong>medication</strong>  here.</p>
          <form (ngSubmit)="search()" class="form-inline">
            <input class="form-control" [(ngModel)]="q.search" name='search' type="search" placeholder="search meds e.g panado">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
      
    </div>

  </section>
  
  
  <app-services></app-services>
  <app-about></app-about>

 
  
  <app-footer></app-footer>
  